<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul class="navbar navbar-dark bg-dark">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/app-create-donkey']">CREATE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/app-list-donkey']"
          >LIST OF DONKEYS</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/app-user-donkey']">USER</a>
      </li>
    </ul>
    <router-outlet></router-outlet>
  </body>
</html>
